body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3aaaa;
}

header {
    background-color: #412a2a;
    color: rgb(156, 147, 147);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:   #9f9393;
}

nav a {
    color: rgb(69, 42, 42);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #4d4949;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(86, 81, 81);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.about, .projects, .contact {
    margin: 20px 0;
}

.projects .project {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: rgb(231, 177, 177);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
